{%extends 'base.html'%} {% block content %} {{ block.super}}

<div class="landing-page" style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/static/images/award.jpg');height:96vh;background-size:cover;background-position:center">

    <div class="text-white text-center pt-5 mt-3" margin>
        <h1 class="pt-5 mt-5 text-white " font-size:50px; line-height: 1.2>Aw_wards Point</h1> <br> <br> <br>
        <h5 style="padding: 0 20px;"> The application will allow a user to post a project they have created and get it reviewed by their peers.</h5>   
        <h5>To Proceed Scroll down to view a sample of my projects</h5>
        
    </div>
</div>
<div class="container-fluid pb-5" id="mainprojview">
    <h2 class=" ml-5 pt-5 text-center underline">My Projects</h2>
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-4 p-4">
            <div class="card zoom" id="cardoffwhite">
                <a href="{% url 'project' project.id %}">
                    <img src="{{project.project_image.url}}" style="width:100%;height:56%;" class="img-responsive" alt="Card Image"></a>
                <hr>
                <h5 class="card-title pl-2 underline text-center"> {{project.title}}</h5>
                <div class="card-body">
                    <p class=""><strong>By:Cencious</strong> {{project.prof_ref.user.username}}</p>
                    <p class="card-text"><strong>About:</strong> {{project.description|truncatechars:150}}</p>
                    <a href="{% url 'project' project.id %}" class="card-link">View & Rate Project</a>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p class=""><strong>Posted:</strong> {{project.pub_date|date:"D d M"}}</p><br><br></div>
                        <div class="col-md-6">
                            <p class=""><strong>Average Rating:</strong> {{project.average_ratings|floatformat}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div><br><br><br><br><br><br> 
{% endblock %}