{%extends 'base.html'%} {% block content %} {{ block.super}}
<div class="container"><br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <img class="rounded-circle account-img" src="{{user.profile.profile_photo.url}}" style="width:80px; height:80px;">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">{{ user.profile.bio }}</p>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
            <a href="{% url 'update' %}">Update Profile Details</a>
        </small>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mt-4">
            <div class="card zoom" id="cardoffwhite">
                <a href="{% url 'project' project.id %}"><img src="{{project.project_image.url}}" style="width:100%;height:56%;" class="img-responsive" alt="Image"></a><br>
                <hr>
                <div class="card-body">
                    <p><strong>Title:</strong> {{project.title|title}}</p>
                    <p><strong>Description:</strong> {{project.description|title|truncatechars:50}}</p>
                    <p class=""><strong>Average Rating:</strong> {{project.average_ratings|floatformat}}</p>
                    <p><a target="_blank" href="{{project.link}}">Link to Project</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div><br><br><br><br><br><br>{% endblock %}