

{%extends 'base.html'%} 
{% block content %}
<div class="container mt-5">

<div class="row">
    {% if projects %}
    <p>Found {{ projects|length }} of searched term {{message}}</p>
    {% else %}
    <p> Found 0 projects for the search term {{message}}</p>
    {% endif %}

</div>

<div class="row">

{% if projects %}
    {% for projects in projects %}
    <div class="col-sm-6">
        <img src="{{projects.project_image.url}}" height="200px" width="300px" alt="">
        
    </div>
    <div class="col-md-4">
        <h3><u>{{project.title}}</u></h3>
        <h4>Description:</h4> <p>{{projects.description}}</p>
        <p class="text-muted"> Developed by:  {{projects.profile}} </p>

        <a href="{{projects.link}}" class="btn btn-info me-3" target="_blank">Project Link</a>
        <a href="#" class="btn btn-info">Project Rating</a>
        

    </div>
    {% endfor %}
{% endif %}
</div>
<a href="{% url 'home' %}" class="btn btn-dark my-3">Go Back</a>
</div>
{% endblock %}