<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppings', sans-serif;
}
.container{
width: 100%;
min-height: 100vh;
padding: 5%;
background-position: center;
background-size: cover;
}
</style>
</head>
<body>
    <div class="container">
        <form action="">
            <input type="text"placeholder="Search here..." name="q">
        </form>
    </div>
</body>
</html>
